@model decimal?
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DI</title>
</head>
<body>
    <div>
        Total value is $@Model
    </div>
    <h4> @Html.ActionLink("Index", "Index") </h4>
    <h4> @Html.ActionLink("DI", "DI") </h4>
</body>
</html>
